[submodule "tests/libs/bats"]
	path = tests/libs/bats
	url = git@github.com:bats-core/bats-core
[submodule "tests/libs/bats-support"]
	path = tests/libs/bats-support
	url = git@github.com:bats-core/bats-support
[submodule "tests/libs/bats-assert"]
	path = tests/libs/bats-assert
	url = git@github.com:bats-core/bats-assert
